/* CSS Document */

.orangebutton
{
	background-image:url(IMGS/BTN/Top_BTN.jpg); 
	width:200px; 
	height:40px;
	border:0;
	font-family:"Comic Sans MS", cursive;
	font-size:16px;
}

.orangebutton:hover
{
	background-image:url(IMGS/BTN/Top_BTN_H.jpg);	
}

.pagetitle
{
	font-family:"Comic Sans MS", cursive;
	font-size:22px;
	color:#FFC;
	text-align:center;
	text-shadow:#000;	
}