<table border="0" cellpadding="3" cellspacing="0" width="700">
<tbody>
<tr>
<td width="50"><strong>De</strong></td>
<td>Erik Desjardins</td></tr>
<tr>
<td width="50"><strong>&Agrave;</strong></td>
<td>ROBERT BERNIER<br />
</td></tr>
<tr>
<td width="50"><strong>Date</strong></td>
<td>2012-04-17 10:31</td></tr>
<tr>
<td width="50"><strong>Objet</strong></td>
<td>Message d'un insignifiant &eacute;l&egrave;ve</td></tr></tbody></table><strong>Message</strong><br />
<br />Bonjour monsieur Bernier,<br />
<br />Serait-il possible de faire tout ce charabia si bien narr&eacute; ailleurs que sur Colnet ?<br />
On y trouve sur la toile plein de r&eacute;seaux sociaux pr&eacute;vus &agrave; cet effet.<br />
<br />Il
 existe des gens qui ne peuvent supporter d'entendre parler de ces
histoires qui, sans en avoir le choix, envahissent nos vies jusque dans
notre bo&icirc;te de r&eacute;ception professionnelle ou m&ecirc;me notre courrier &eacute;tudiant. <br />
<br />Si
 ce que vous cherchez c'est d'informer les gens, de susciter des
r&eacute;actions ou encore de devenir populaire, le F bleu ou l'oiseau seraient
 probablement vos meilleurs amis si vous d&eacute;sirez vous en faire.<br />
<br />Si vous avez &agrave; le faire, veuillez me recontacter, je vous en conjure, par courriel &agrave; l&rsquo;adresse suivante:<br />
<p><strong>[Courriel]</strong></p><br />
Informez les gens n'est pas un crime. Forcer l'information est une autre histoire. <br />
Je
 ne suis pas pour cette gr&egrave;ve et encore moins pour les manifestations.
Mais sachez que d'envoyer ce genre de courrier personnel, parce que c'en
 est un, &agrave; TOUT LE MONDE, c'est une mani&egrave;re de manifester tr&egrave;s d&eacute;plac&eacute;e.<br />
<br />Je
 suis persuad&eacute; que si vous deviez vous lever un matin avec votre bo&icirc;te
aux lettres pleines de lettres sur divers sujets qui ne vous int&eacute;ressent
pas, vous seriez enrag&eacute; &agrave; la longue. Cependant, si ces informations sont
 communiqu&eacute;es par la t&eacute;l&eacute;vision par exemple, libre &agrave; vous d'en
feuilleter le contenu.
<p><br />
Je vous prie de bien vouloir agr&eacute;er, monsieur Bernier, l&rsquo;expression de mes salutations tr&egrave;s distingu&eacute;es.<br />
<br />Cordialement, <br />
<strong><br />
[Signature]</strong></p>
<p>&nbsp;</p>
<h2><strong>MESSAGE ORIGINAL</strong></h2>
<table border="0" cellpadding="3" cellspacing="0" width="700">
<tbody>
<tr>
<td colspan="2"><font color="red"><strong>Ce message est urgent</strong></font></td></tr>
<tr>
<td width="50"><strong>De</strong></td>
<td>ROBERT BERNIER </td></tr>
<tr>
<td width="50"><strong>Date</strong></td>
<td>2012-04-17 01:39</td></tr>
<tr>
<td width="50"><strong>Objet</strong></td>
<td>Message d'un prof dissident</td></tr></tbody></table><strong>Message</strong><br />
<br />Bonjour &agrave; chacun et &agrave; chacune,<br />
<br />Je
 suis un prof pour la hausse et contre votre gr&egrave;ve. Oui, oui, vous avez
bien lu. &Ccedil;a existe un prof qui est POUR la hausse et CONTRE &laquo;votre &raquo;
gr&egrave;ve.<br />
<br />Et ce n&rsquo;est pas pour rien si j&rsquo;insiste sur le mot &laquo; votre &raquo; dans votre gr&egrave;ve. <br />
<br />Vous avez re&ccedil;u un message de mon syndicat d&rsquo;enseignants, un message dont je suis pouss&eacute; &agrave;  me d&eacute;solidariser totalement.<br />
<br />Il
 y a eu un vote de mon syndicat, il y a quelques semaines. Lors de ce
vote, auquel &agrave; peu pr&egrave;s seulement 25% des enseignants ont particip&eacute;, le
syndicat des enseignants a choisi de se pr&eacute;senter comme solidaire de
cette gr&egrave;ve. Je m&rsquo;y suis oppos&eacute;, mais, de toute &eacute;vidence, sans grand
succ&egrave;s. C&rsquo;est correct. C&rsquo;est &ccedil;a la d&eacute;mocratie. Un de mes arguments &eacute;tait
 que je ne trouvais pas tr&egrave;s pertinent, pour ne pas dire pas tr&egrave;s
prudent, que le syndicat des enseignants se m&ecirc;le d&rsquo;un vote de gr&egrave;ve qui,
 lors de sa reconduction le 4 avril dernier, n&rsquo;avait attir&eacute; qu&rsquo;environ
25% des &eacute;tudiants. Les autres 75%, o&ugrave; &eacute;taient-ils? Et pourquoi ne
s&rsquo;&eacute;taient-ils pas manifest&eacute;s? Nous n&rsquo;en savions rien. Mais j&rsquo;ai accept&eacute;
les messages de solidarit&eacute; qui vous ont &eacute;t&eacute; envoy&eacute;s, en mon nom bien
&eacute;videmment, puisque j&rsquo;avais perdu ma cause. C&rsquo;est ben correct.<br />
<br />Aujourd&rsquo;hui,
 la direction du coll&egrave;ge vous a envoy&eacute; un message que j&rsquo;ai jug&eacute; tr&egrave;s
sens&eacute;. Tr&egrave;s sens&eacute;, au sens de &laquo; ramenant &agrave; nos sens &raquo;, ramenant au bon
sens. Ce message se r&eacute;sumait en deux points : 1) il est minuit moins
trente secondes pour vous d&eacute;cider quant &agrave; finir ou non votre session et
2) un avis quant &agrave; l&rsquo;engagement du coll&egrave;ge, si vous en d&eacute;cidiez ainsi
lors de votre r&eacute;union de mercredi le 18 avril prochain, d&rsquo;offrir &agrave; votre
 syndicat &eacute;tudiant les services informatiques du coll&egrave;ge pour la tenue
d&rsquo;un vote secret, &eacute;lectronique, quant &agrave; la poursuite de la gr&egrave;ve.<br />
<br />En
 r&eacute;ponse, mon syndicat vous a envoy&eacute; un message dont je r&eacute;cuse
compl&egrave;tement la teneur. Et l&agrave;, je ne puis ni ne veux me retenir.<br />
<br />On
 y dit 1) que la session n&rsquo;est pas vraiment &agrave; risque et qu&rsquo;il y a
peut-&ecirc;tre des avenues, moins exigeantes, qui vous feraient gagner &hellip; quoi
 ? une semaine? (il serait donc minuit moins quarante-cinq secondes
seulement probablement?, si j&rsquo;en juge) et 2) qu&rsquo;un vote secret, par
&eacute;lectronique, ne serait pas vraiment d&eacute;mocratique. L&agrave;, je hurle. J&rsquo;ai lu
 et entendu beaucoup de choses dans ce conflit, et celle-l&agrave; en
particulier depuis environ deux semaines, mais je ne peux pas supporter
ce d&eacute;tournement de sens des mots qui nous sont les plus chers.<br />
<br />Oui,
 je peux comprendre, et j&rsquo;accepte m&ecirc;me, que des discussions en pl&eacute;ni&egrave;re
peuvent, et devraient m&ecirc;me, faire &eacute;voluer le jugement d&rsquo;un individu
normalement ouvert d&rsquo;esprit. Mais s&rsquo;opposer &agrave; un vote secret, au nom de
la d&eacute;mocratie, c&rsquo;est &agrave; sa face m&ecirc;me un oxymoron de la plus grande
b&ecirc;tise. <br />
<br />De toute fa&ccedil;on, c&rsquo;est lors de l&rsquo;Assembl&eacute;e G&eacute;n&eacute;rale, et
de fa&ccedil;on tout &agrave; fait ouverte, que vous &ecirc;tes appel&eacute;s &agrave; faire ce choix, si
 tant est que vous le croyiez n&eacute;cessaire, d&rsquo;un vote secret.<br />
<br />C&rsquo;est
 &laquo; votre &raquo; gr&egrave;ve. Ce n&rsquo;est pas la mienne. Et, quoi qu&rsquo;en pensent
certains sinon plusieurs professeurs, ce n&rsquo;est pas la leur non plus. Au
mieux, certains se paieront m&ecirc;me un Mai 68 sur votre dos, d&eacute;lices du
romantisme printanier. Nous, les profs, n&rsquo;avons RIEN &Agrave; PERDRE dans cette
 gr&egrave;ve. Cela, j&rsquo;en demeure convaincu, aurait d&ucirc; nous inciter &agrave; la plus
grande retenue dans toute cette aventure o&ugrave; VOUS &ecirc;tes les protagonistes.<br />
<br />C&rsquo;est &laquo; votre &raquo; gr&egrave;ve. Je respecterai quelque d&eacute;cision que vous
 prendrez. On ne m&rsquo;imposera pas, ministres ou autres  &ndash;et entendez-moi
haut et clair ici- de briser vos lignes de piquetage si poursuivre &laquo;
votre &raquo; gr&egrave;ve est VOTRE choix d&eacute;mocratique. Et j&rsquo;accepterai d&rsquo;en payer
le prix. <br />
<br />Mais faites-moi cette faveur, je vous en prie, de
prendre cette d&eacute;cision en tr&egrave;s grand nombre et en toute connaissance de
cause : 1) oui, il est minuit moins trente secondes et 2) si vous voulez
 un vote secret, ne vous g&ecirc;nez surtout pas pour le demander.<br />
<br />Robert Bernier<br />
Prof. Physique
<p>&nbsp;</p>