<p>-------- Message original --------</p>
<table class="ecxmoz-email-headers-table" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<th align="right" valign="baseline">Sujet: </th>
<td>23 Avril, d&eacute;monstration de Tricking</td></tr>
<tr>
<th align="right" valign="baseline">Date&nbsp;: </th>
<td>Mon, 02 Apr 2012 13:12:40 -0400</td></tr>
<tr>
<th align="right" valign="baseline">De&nbsp;: </th>
<td>Erik Desjardins <a class="ecxmoz-txt-link-rfc2396E" href="mailto:erik@multiservicessd.com">&lt;erik@multiservicessd.com&gt;</a></td></tr>
<tr>
<th align="right" valign="baseline">Pour&nbsp;: </th>
<td>Gym-plus <a class="ecxmoz-txt-link-rfc2396E" href="mailto:france.lauzon@gym-plus.ca">&lt;france.lauzon@gym-plus.ca&gt;</a></td></tr></tbody></table><br />
<br />

    Bonjour,<br />
<br />
    depuis quelques semaines, nous avons vu la popularit&eacute; de la
    gymnastique libre exploser les lundis soirs.<br />
    Nous sommes tr&egrave;s fiers de pratiquer le sport portant le nom
    populaire de Tricking et sommes infiniment <br />
    reconnaissants du temps que vous nous offrez toutes les semaines .<br />
<br />
    Voulant ainsi faire du donnant-donnant, nous avons donc eu une id&eacute;e
    int&eacute;ressante qui aura pour but de:<br />
    1) Maximiser les revenus de GymPlus concernant les lundis gym libre<br />
    2) Promouvoir le Tricking au Qu&eacute;bec<br />
    3) Augmenter la popularit&eacute; de GymPlus et ainsi attirer la client&egrave;le.<br />
<br /><strong>Br&egrave;ve description</strong><br />
    Ce n'est pas tr&egrave;s compliqu&eacute; en fait.<br />
    Le 23 Avril, nous aimerions simplement recevoir un peu plus de monde
    que les lundis pr&eacute;c&eacute;dents.<br />
    En effet, nous serions environ 30 &agrave; 40 personnes sur le sol au
    deuxi&egrave;me &eacute;tage &agrave; montrer &agrave; nos<br />
    invit&eacute;s ce qu'est le Tricking. De plus, nous aurions une quinzaine
    ou peut-&ecirc;tre vingtaine de spectateurs.<br />
<br />
    Les 'trickers', pratiquants du Tricking, seraient alors factur&eacute;s
    comme &agrave; l'habitude; 12$ pour la soir&eacute;e.<br />
    L&agrave; o&ugrave; je vais en venir serait de laisser cette soir&eacute;e gratuite pour
    les spectateurs, histoire de les motiv&eacute;s<br />
    &agrave; venir s'entrainer prochainement. S'il le faut, je suis pr&ecirc;t &agrave;
    ajouter un 50$ de ma poche pour rendre le tout possible.<br />
    Bien entendu, les m&ecirc;mes heures seront respect&eacute;es soit 20h30 &agrave; 22h00.<br />
<br />
    Bien entendu, il nous ferait encore plus plaisir de vous voir
    pr&eacute;sente &agrave; l'&eacute;v&eacute;nement si cela s'av&egrave;re possible!<br />
    Merci de r&eacute;pondre le plus t&ocirc;t possible sans pr&eacute;cipitation.<br />
<br />
    Je vous prie d'agr&eacute;er, madame Lauzon, l'expression de ma tr&egrave;s haute
    consid&eacute;ration.<br />
<br />
    &Eacute;rik Desjardins<br />
<font color="#333333"><small>Multiservices SD<br />
        Pr&eacute;sident, Directeur G&eacute;n&eacute;ral<br />
<a class="ecxmoz-txt-link-abbreviated" href="http://www.multiservicessd.com/" target="_blank">www.multiservicessd.com</a>
        (En r&eacute;novation)<br />
        (514) 442-1541</small></font><br />