; jQuery.vsconsole || (function($) {<br />
&nbsp;&nbsp; $.vsconsole = {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; log:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; function(obj) { if (_hasMethod('log'))&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; { console.log(obj);&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; } },<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; error:&nbsp;&nbsp;&nbsp; function(obj) { if (_hasMethod('error'))&nbsp;&nbsp;&nbsp; { console.error(obj);&nbsp;&nbsp;&nbsp; } },<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; time:&nbsp;&nbsp;&nbsp;&nbsp; function(obj) { if (_hasMethod('time'))&nbsp;&nbsp;&nbsp;&nbsp; { console.time(obj);&nbsp;&nbsp;&nbsp;&nbsp; } },<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; timeEnd:&nbsp; function(obj) { if (_hasMethod('timeEnd'))&nbsp; { console.timeEnd(obj);&nbsp; } },<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; group:&nbsp;&nbsp;&nbsp; function(obj) { if (_hasMethod('group'))&nbsp;&nbsp;&nbsp; { console.group(obj);&nbsp;&nbsp;&nbsp; } },<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; groupEnd: function(obj) { if (_hasMethod('groupEnd')) { console.groupEnd(obj); } }<br />
&nbsp;&nbsp; };<br />
<br />&nbsp;&nbsp; function _hasMethod(name) {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; return (window.console &amp;&amp; window.console[name]);<br />
&nbsp;&nbsp; };<br />
<br />})(jQuery);<br />
<br />// Used to contain information about current settings of Bug and Change Request forms<br />
// Also contains right path to the erver which manages everything about TFS workitems<br />
var msServiceSetting = {<br />
&nbsp;&nbsp; &nbsp;url : &quot;/proxy/DevInterfaces/&quot;,<br />
&nbsp;&nbsp; &nbsp;isPostBack : false,<br />
&nbsp;&nbsp; &nbsp;incidentName : '',<br />
&nbsp;&nbsp; &nbsp;projectName : '',<br />
&nbsp;&nbsp; &nbsp;accountId : ''<br />
}<br />
<br />// Called when the Save button is being pressed on<br />
onSaveAction = function(ctx, service){<br />
<br />&nbsp;&nbsp; &nbsp;// If form is back from saving or updating, no need to do everything over and over again<br />
&nbsp;&nbsp; &nbsp;if (msServiceSetting.isPostBack) {<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;msServiceSetting.isPostBack = false;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;return;<br />
&nbsp;&nbsp; &nbsp;}<br />
<br />&nbsp;&nbsp; &nbsp;msServiceSetting.isPostBack = true;<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// A Change Request can be represented in two ways, it finds the right one<br />
&nbsp;&nbsp; &nbsp;if (service == 'Change Request'){<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;var typevalue = getFieldText('new_type');<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;service = 'Tfs' + typevalue;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Get all form value in JSON format<br />
&nbsp;&nbsp; &nbsp;var jsonstring = makeJSONString();<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Whether create or update<br />
&nbsp;&nbsp; &nbsp;if (isCreateMode()) {<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;createTFSWorkItem(jsonstring, service);<br />
&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;else {<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;updateTFSWorkItem(jsonstring, service);<br />
&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;ctx.getEventArgs().preventDefault();<br />
};<br />
<br />// Called when the form is being loaded<br />
onLoadAction = function(ctx){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Check if form is in edit mode<br />
&nbsp;&nbsp; &nbsp;if (!isCreateMode()) {<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;setSubmitModeToAlways();<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;createWaitDialog();<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;return;<br />
&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Get Incident guid and custoemr<br />
&nbsp;&nbsp; &nbsp;var guid = ctx.getContext().getQueryStringParameters().pId;<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Ensure that the activity is created within an incident<br />
&nbsp;&nbsp; &nbsp;if (guid == null || guid == undefined){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;cancel('L\'activit&eacute; doit &ecirc;tre cr&eacute;&eacute;e &agrave; partir d\'un incident.');<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;closeAfterError();<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;return;<br />
&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Set default content of form<br />
&nbsp;&nbsp; &nbsp;var customer = getCustomerByGuid(guid);<br />
&nbsp;&nbsp; &nbsp;msServiceSetting.incidentName = getIncidentNameByGuid(guid);<br />
&nbsp;&nbsp; &nbsp;msServiceSetting.projectName = getProjectName(guid);<br />
&nbsp;&nbsp; &nbsp;msServiceSetting.accountId = customer.Id;<br />
&nbsp;&nbsp; &nbsp;fillDefaultDetailsFromIncidentGuid(guid);<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// If customer really exists, set in in the appropriate field<br />
&nbsp;&nbsp; &nbsp;if (customer != null &amp;&amp; customer != undefined) {<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;// Prepare Account field<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;var props = [];<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;props[0] = {<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;entityType : customer.LogicalName,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : customer.Id, <br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : customer.Name <br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;};<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;// Make readonly fields readable<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;setSubmitModeToAlways();<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;// Fill all fields<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;setFieldValue('new_status', 'Proposed');<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;setFieldValue('new_raison', 'New');<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;setFieldValue('new_compte', props);<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;// Create wait dualog<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;createWaitDialog();<br />
&nbsp;&nbsp; &nbsp;}<br />
};<br />
<br />// Return whether the form is a creation form or an update form<br />
function isCreateMode() {<br />
&nbsp;&nbsp; &nbsp;return&nbsp; Xrm.Page.getAttribute('new_tfs').getValue() == null&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; || <br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;Xrm.Page.getAttribute('new_tfs').getValue() == undefined || <br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;Xrm.Page.getAttribute('new_tfs').getValue() == &quot;&quot;;<br />
}<br />
<br />// Fill the form with parent incident's values<br />
function fillDefaultDetailsFromIncidentGuid(guid){<br />
<br />&nbsp;&nbsp; &nbsp;// Will contain the details avour parent incident<br />
&nbsp;&nbsp; &nbsp;var detailsContent = '';<br />
&nbsp;&nbsp; &nbsp;var incitentTitle = $.odata.getOne(&quot;IncidentSet(guid'&quot; + guid + &quot;')/Title&quot;).Title;<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Headers of subject section of form<br />
&nbsp;&nbsp; &nbsp;var headers = [<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'Requ&ecirc;te initiale -',<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'Analyse SAC -',<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'Analyse DEV -',<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'&Eacute;tapes de reproduction -',<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'Moyen de contournement -',<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'R&eacute;sultat attendu -'<br />
&nbsp;&nbsp; &nbsp;];<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Request upper level for incident activities<br />
&nbsp;&nbsp; &nbsp;var taskList = $.odata.getOne(&quot;IncidentSet(guid'&quot; + guid + &quot;')/Incident_Tasks&quot;)['results'];<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Find all field in array of tasks<br />
&nbsp;&nbsp; &nbsp;var values = [<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;findTypeInArrayForDescription(taskList, 100000000),<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;findTypeInArrayForDescription(taskList, 100000001),<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;findTypeInArrayForDescription(taskList, 100000002),<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;findTypeInArrayForDescription(taskList, 100000003),<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;findTypeInArrayForDescription(taskList, 100000004),<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;findTypeInArrayForDescription(taskList, 100000005)<br />
&nbsp;&nbsp; &nbsp;];<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Start filling list with headers followed by values<br />
&nbsp;&nbsp; &nbsp;for (var i=0;i&lt;values.length;i++){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;if (i == 3 &amp;&amp; Xrm.Page.getAttribute('new_reprosteps') != undefined){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;Xrm.Page.getAttribute('new_reprosteps').setValue(values[i]);<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;else{<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;detailsContent = detailsContent + headers[i] + '\r\n' + values[i] + &quot;\r\n\r\n&quot;;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Fill everything<br />
&nbsp;&nbsp; &nbsp;Xrm.Page.getAttribute('new_details').setValue(detailsContent);<br />
&nbsp;&nbsp; &nbsp;Xrm.Page.getAttribute('subject').setValue(incitentTitle);<br />
}<br />
<br />// Search in array for a value of a field and return the description<br />
function findTypeInArrayForDescription(array, value){<br />
<br />&nbsp;&nbsp; &nbsp;// Search in array for desired field value<br />
&nbsp;&nbsp; &nbsp;for (var i=0;i&lt;array.length;i++){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;if (array[i]['new_tape'].Value == value) {<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;return array[i].Description;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// If type could not be found<br />
&nbsp;&nbsp; &nbsp;return &quot;&quot;;<br />
}<br />
<br />// Ensure that every fields are submited after saving, even read-only fields<br />
function setSubmitModeToAlways() {<br />
<br />&nbsp;&nbsp; &nbsp;Xrm.Page.getAttribute('ownerid'&nbsp;&nbsp; ).setSubmitMode('always');<br />
&nbsp;&nbsp; &nbsp;Xrm.Page.getAttribute('new_compte').setSubmitMode('always');<br />
&nbsp;&nbsp; &nbsp;Xrm.Page.getAttribute('new_status').setSubmitMode('never');<br />
&nbsp;&nbsp; &nbsp;Xrm.Page.getAttribute('new_raison').setSubmitMode('never');<br />
&nbsp;&nbsp; &nbsp;Xrm.Page.getAttribute('new_tfs'&nbsp;&nbsp; ).setSubmitMode('always');<br />
}<br />
<br />// Find the Customer ID by incident guid<br />
function getCustomerByGuid(guid){<br />
<br />&nbsp;&nbsp; &nbsp;if (guid == null || guid == undefined || guid == &quot;&quot;){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;cancel('L\'activit&eacute; doit &ecirc;tre cr&eacute;&eacute;e &agrave; partir d\'un incident.');<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;closeAfterError();<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;return;<br />
&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Get current incident account guid<br />
&nbsp;&nbsp; &nbsp;var currentIncident = $.odata.getOne(&quot;IncidentSet(guid'&quot; + guid + &quot;')/CustomerId&quot;);<br />
&nbsp;&nbsp; &nbsp;if (currentIncident == null || currentIncident == undefined || currentIncident.CustomerId.Id == &quot;&quot;){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;cancel('Impossible de r&eacute;cup&eacute;rer le compte responssable.');<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;closeAfterError();&nbsp;&nbsp; &nbsp;<br />
<br />&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;return ;<br />
&nbsp;&nbsp; &nbsp;}<br />
<br />&nbsp;&nbsp; &nbsp;return currentIncident.CustomerId;<br />
}<br />
<br />// Find incident name by incident guid<br />
function getIncidentNameByGuid(guid){<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Get current incident name with specified guid<br />
&nbsp;&nbsp; &nbsp;var incidentName = $.odata.getOne(&quot;IncidentSet(guid'&quot; + guid + &quot;')/TicketNumber&quot;);<br />
&nbsp;&nbsp; &nbsp;if (incidentName == null || incidentName == undefined){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;cancel('Impossible de r&eacute;cup&eacute;rer le nom de l\'incident.');<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;closeAfterError();&nbsp;&nbsp; &nbsp;<br />
<br />&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;return;<br />
&nbsp;&nbsp; &nbsp;}<br />
<br />&nbsp;&nbsp; &nbsp;return incidentName.TicketNumber;<br />
}<br />
<br />// Get project name associated with incident suite<br />
function getProjectName(guid){<br />
&nbsp;&nbsp; &nbsp;var projectName = '';<br />
<br />&nbsp;&nbsp; &nbsp;try {<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;// Incident -&gt; Module -&gt; Suite -&gt; Project Name<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;var incidentModuleId = $.odata.getOne(&quot;IncidentSet(guid'&quot; + guid + &quot;')/new_Module/Id&quot;).Id;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;var suiteCompteID = $.odata.getOne(&quot;new_moduledessuitesducompteSet(guid'&quot; + incidentModuleId + &quot;')/new_ModuleID/Id&quot;).Id;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;projectName = $.odata.getOne(&quot;new_moduleSet(guid'&quot; + suiteCompteID + &quot;')/new_correspondancedev&quot;);<br />
&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;catch (ex) {<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;cancel('L\'activit&eacute; n\'est pas associ&eacute;e &agrave; un projet de Team Foundation Server.');<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;return false;<br />
&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;return projectName.new_correspondancedev; <br />
}<br />
<br />// Create new div containing a message for the user<br />
function createWaitDialog(){<br />
<br />&nbsp;&nbsp; &nbsp;// Create new div and fill in style<br />
&nbsp;&nbsp; &nbsp;var wc = document.createElement('div');<br />
&nbsp;&nbsp; &nbsp;wc.id = &quot;waitcontainer&quot;;<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Position<br />
&nbsp;&nbsp; &nbsp;wc.style.display = 'none';<br />
&nbsp;&nbsp; &nbsp;wc.style.position = 'absolute';<br />
&nbsp;&nbsp; &nbsp;wc.style.top = '200px';<br />
&nbsp;&nbsp; &nbsp;wc.style.left = '0';<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Size<br />
&nbsp;&nbsp; &nbsp;wc.style.width = '100%';<br />
&nbsp;&nbsp; &nbsp;wc.style.height = '100px';<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Decoration<br />
&nbsp;&nbsp; &nbsp;wc.style.background = '#FFFFFF';<br />
&nbsp;&nbsp; &nbsp;wc.style.border = &quot;solid 1px black&quot;;<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Margin<br />
&nbsp;&nbsp; &nbsp;wc.style.marginLeft = &quot;10px&quot;;<br />
&nbsp;&nbsp; &nbsp;wc.style.marginRight = &quot;10px&quot;;<br />
&nbsp;&nbsp; &nbsp;wc.style.marginTop = &quot;0px&quot;;<br />
&nbsp;&nbsp; &nbsp;wc.style.marginBottom = &quot;4px&quot;;<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Alignment<br />
&nbsp;&nbsp; &nbsp;wc.style.vAlign = 'middle';<br />
&nbsp;&nbsp; &nbsp;wc.style.textAlign = 'center';<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Content<br />
&nbsp;&nbsp; &nbsp;wc.style.fontSize = '30';<br />
&nbsp;&nbsp; &nbsp;wc.innerHTML = '&lt;b&gt;Veuillez patienter&lt;/b&gt;';<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Add div to body after getting it from document<br />
&nbsp;&nbsp; &nbsp;var source = document.getElementsByTagName('body');<br />
&nbsp;&nbsp; &nbsp;source[0].insertBefore(wc, source[0].firstChild);<br />
}<br />
<br />// Change the Wait Container's message<br />
function setWaitDialogText(text){<br />
&nbsp;&nbsp; &nbsp;document.getElementById('waitcontainer').innerHTML = '&lt;b&gt;' + text + '&lt;/b&gt;';<br />
}<br />
<br />// Show the Wait Container without any effects<br />
function showWaitDialog(){<br />
&nbsp;&nbsp; &nbsp;$('#waitcontainer').fadeIn(0);<br />
}<br />
<br />// Hide the Wait Container with a fade out effect<br />
function hideWaitDialog(){<br />
&nbsp;&nbsp; &nbsp;$('#waitcontainer').fadeOut('slow');<br />
}<br />
<br />// Find a field in the form and set the specified value<br />
function setFieldValue(fieldname, value) {<br />
&nbsp;&nbsp; &nbsp;Xrm.Page.getAttribute(fieldname).setValue(value);<br />
}<br />
<br />// Get a field value in the form<br />
function getFieldValue(fieldname){<br />
<br />&nbsp;&nbsp; &nbsp;var field = Xrm.Page.getAttribute(fieldname);<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Ensure that field exists before continuing<br />
&nbsp;&nbsp; &nbsp;if (field != null &amp;&amp; field != undefined){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;return Xrm.Page.getAttribute(fieldname).getValue();<br />
&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;else{<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;return &quot;&quot;;<br />
&nbsp;&nbsp; &nbsp;}<br />
}<br />
<br />// Get a dropdown list text in the form<br />
function getFieldText(fieldname){<br />
&nbsp;&nbsp; &nbsp;var field = Xrm.Page.getAttribute(fieldname);<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Ensure that field exists before continuing<br />
&nbsp;&nbsp; &nbsp;if (field != null &amp;&amp; field != undefined){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;return Xrm.Page.getAttribute(fieldname).getText();<br />
&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;else{<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;return &quot;&quot;;<br />
&nbsp;&nbsp; &nbsp;}<br />
}<br />
<br />// Creates a Stringified JSON containing all form fields with key names<br />
function makeJSONString(){<br />
<br />&nbsp;&nbsp; &nbsp;// Store form fields' values into representative variables<br />
&nbsp;&nbsp; &nbsp;var subject &nbsp;&nbsp; &nbsp; = getFieldValue('subject'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; );<br />
&nbsp;&nbsp; &nbsp;var severity &nbsp;&nbsp; &nbsp; = getFieldText( 'new_severite'&nbsp;&nbsp; );<br />
&nbsp;&nbsp; &nbsp;var status &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; = getFieldValue('new_status'&nbsp;&nbsp;&nbsp;&nbsp; );<br />
&nbsp;&nbsp; &nbsp;var version &nbsp;&nbsp; &nbsp; = getFieldValue('new_version'&nbsp;&nbsp;&nbsp; );<br />
&nbsp;&nbsp; &nbsp;var reason &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; = getFieldValue('new_raison'&nbsp;&nbsp;&nbsp;&nbsp; );<br />
&nbsp;&nbsp; &nbsp;var externalref&nbsp; = getFieldValue('new_externalref');<br />
&nbsp;&nbsp; &nbsp;var tfsnumber &nbsp;&nbsp; &nbsp; = getFieldValue('new_tfs'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; );<br />
&nbsp;&nbsp; &nbsp;var description&nbsp; = getFieldValue('new_details'&nbsp;&nbsp;&nbsp; );<br />
&nbsp;&nbsp; &nbsp;var reprosteps &nbsp;&nbsp; &nbsp; = getFieldValue('new_reprosteps' );<br />
&nbsp;&nbsp; &nbsp;var author &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; = getFieldValue('ownerid'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; );<br />
&nbsp;&nbsp; &nbsp;var account &nbsp;&nbsp; &nbsp; = getFieldValue('new_compte'&nbsp;&nbsp;&nbsp;&nbsp; );<br />
&nbsp;&nbsp; &nbsp;var state&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = getFieldValue('new_status'&nbsp;&nbsp;&nbsp;&nbsp; );<br />
&nbsp;&nbsp; &nbsp;var assignedto&nbsp;&nbsp; = &quot;N3&quot;;<br />
&nbsp;&nbsp; &nbsp;var symptom&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = &quot;.&quot;;<br />
&nbsp;&nbsp; &nbsp;var tfsproject&nbsp;&nbsp; = msServiceSetting.projectName; <br />
&nbsp;&nbsp; &nbsp;var sourceofreq&nbsp; = 'Customer (External)';<br />
&nbsp;&nbsp; &nbsp;var ticketnumber = msServiceSetting.incidentName;<br />
&nbsp;&nbsp; &nbsp;var customerId&nbsp;&nbsp; = msServiceSetting.accountId;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;var empty &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; = &quot;&quot;;<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Create array with representative keys<br />
&nbsp;&nbsp; &nbsp;var stringarray = {<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'Title'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : subject,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'Details'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : description,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'Severity'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : severity,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'ReproStep'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : reprosteps,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'ExternalRef'&nbsp;&nbsp;&nbsp;&nbsp; : externalref,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'Id'&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : tfsnumber,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'Version'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : version,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'AssignedTo'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : assignedto,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'Reason'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : empty,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'State'&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : empty,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'AreaPath'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : empty,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'CustomerId'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : customerId,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'Symptom'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : symptom,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'TfsNumber'&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : tfsnumber,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'SourceOfRequest' : sourceofreq,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'TicketNumber'&nbsp;&nbsp;&nbsp; : ticketnumber,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;'TfsProject'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : tfsproject<br />
&nbsp;&nbsp; &nbsp;};<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Stringify JSON and return <br />
&nbsp;&nbsp; &nbsp;return JSON.stringify(stringarray);<br />
}<br />
<br />// Sends form data for creation of a Workitem<br />
function createTFSWorkItem(jsonString, service){<br />
<br />&nbsp;&nbsp; &nbsp;// Prompt user to be patient<br />
&nbsp;&nbsp; &nbsp;setWaitDialogText('Veuillez patienter');<br />
&nbsp;&nbsp; &nbsp;showWaitDialog();<br />
<br />&nbsp;&nbsp; &nbsp;// Creates a request to a server which will once called add <br />
&nbsp;&nbsp; &nbsp;// a workitem to Team Foundation Server<br />
&nbsp;&nbsp; &nbsp;var req = $.ajax({<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;url: msServiceSetting.url + service,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;type: &quot;POST&quot;,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;data : jsonString,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;dataType : 'json',<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;timeout: 20000,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;contentType: &quot;application/json; charset=utf-8&quot;,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;beforeSend: function (XMLHttpRequest) { <br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;XMLHttpRequest.setRequestHeader(&quot;Accept&quot;, &quot;application/json&quot;); <br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;});&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// If everything is going smoothly<br />
&nbsp;&nbsp; &nbsp;req.success(function(data){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;if (data.ErrorMessage == &quot;&quot;){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;setFieldValue('new_tfs', data.Result.Id.toString());<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;setWaitDialogText('Sauvegarde termin&eacute;e');<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;hideWaitDialog();<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;accept();<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;else{<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;setWaitDialogText('Impossible de terminer la sauvegarde');<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;alert('Impossible de terminer la sauvegarde\n' + data.ErrorMessage);<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;hideWaitDialog();&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;});<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// If something is wrong<br />
&nbsp;&nbsp; &nbsp;req.error(function(err, txt, errtype){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;setWaitDialogText('Impossible de terminer la sauvegarde');<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;alert('Erreur!\n' + err + &quot;\n&quot; + txt + &quot;\n&quot; + errtype);<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;hideWaitDialog();<br />
&nbsp;&nbsp; &nbsp;});<br />
}<br />
<br />// Sends form data for update of a Workitem<br />
function updateTFSWorkItem(jsonString, service){<br />
<br />&nbsp;&nbsp; &nbsp;// Prompt user to be patient<br />
&nbsp;&nbsp; &nbsp;setWaitDialogText('Veuillez patienter');<br />
&nbsp;&nbsp; &nbsp;showWaitDialog();<br />
<br />&nbsp;&nbsp; &nbsp;// Creates a request to a server which will once called update<br />
&nbsp;&nbsp; &nbsp;// a workitem to Team Foundation Server<br />
&nbsp;&nbsp; &nbsp;var req = $.ajax({<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;url: msServiceSetting.url + service,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;type: &quot;PUT&quot;,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;data : jsonString,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;dataType : 'json',<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;timeout: 20000,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;contentType: &quot;application/json; charset=utf-8&quot;,<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;beforeSend: function (XMLHttpRequest) { <br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;XMLHttpRequest.setRequestHeader(&quot;Accept&quot;, &quot;application/json&quot;); <br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;});&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// If everything is going smoothly<br />
&nbsp;&nbsp; &nbsp;req.success(function(data){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;setWaitDialogText('Sauvegarde termin&eacute;e');<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;hideWaitDialog();<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;accept();<br />
&nbsp;&nbsp; &nbsp;});<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// If something is wrong<br />
&nbsp;&nbsp; &nbsp;req.error(function(err, txt, errtype){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;setWaitDialogText('Impossible de terminer la sauvegarde');<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;alert('Erreur!\n' + err + &quot;\n&quot; + txt + &quot;\n&quot; + errtype);<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;hideWaitDialog();<br />
&nbsp;&nbsp; &nbsp;});<br />
}<br />
<br />// Cancels current form saving<br />
// Meant to be used as a returned value <br />
function cancel(errormessage){<br />
<br />&nbsp;&nbsp; &nbsp;// Show error message as alert dialog<br />
&nbsp;&nbsp; &nbsp;if (errormessage != null &amp;&amp; errormessage != undefined){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;popupError(errormessage);<br />
&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;// Ensure that the form is not saved<br />
&nbsp;&nbsp; &nbsp;try {<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;Xrm.Page.context.getEventArgs().preventDefault();<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;event.returnValue = false;<br />
&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;catch (ex) {<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;}<br />
&nbsp;&nbsp; &nbsp;finally {<br />
&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;return false;<br />
&nbsp;&nbsp; &nbsp;}<br />
}<br />
<br />// Confirms current form saving<br />
// Meant to be used as a returned value <br />
function accept(){<br />
<br />&nbsp;&nbsp; &nbsp;// Ensure that the form creates or updates an object <br />
&nbsp;&nbsp; &nbsp;// event.returnValue = true;<br />
&nbsp;&nbsp; &nbsp;Xrm.Page.data.entity.save(); <br />
&nbsp;&nbsp; &nbsp;return true;&nbsp;&nbsp; &nbsp;<br />
}<br />
<br />// Pops up an error message<br />
// If any, pops up default message<br />
function popupError(msg){<br />
<br />&nbsp;&nbsp; &nbsp;// Pop-up default message if no message defined<br />
&nbsp;&nbsp; &nbsp;if (msg != null &amp;&amp; msg != undefined) {<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;alert(msg);<br />
&nbsp;&nbsp; &nbsp;}else if (msg != ''){<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;alert('Impossible de sauvarder le tout.\nVeuillez revoir en d&eacute;tails votre formulaire.');<br />
&nbsp;&nbsp; &nbsp;}<br />
}<br />
<br />// Close form after fatal error<br />
function closeAfterError() {<br />
&nbsp;&nbsp; &nbsp;var attributes = Xrm.Page.data.entity.attributes.get();<br />
<br />&nbsp;&nbsp; &nbsp;// Ensure that no field is submited before closing everything<br />
&nbsp;&nbsp; &nbsp;for (var i in attributes){&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;attributes[i].setSubmitMode('never'); <br />
&nbsp;&nbsp; &nbsp;}<br />
<br />&nbsp;&nbsp; &nbsp;Xrm.Page.ui.close();<br />
}<br />
<br />