<form>
    <table>
        <tr>
            <td style="text-align:left;">
            	First name
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td style="text-align:left;">
           		Last name
            </td>
            <td>
            	<input type="text"/>
            </td>
        </tr>
        <tr>
            <td style="text-align:left;">
            	Address
            </td>
            <td>
            	<input type="text"/>
            </td>
        </tr>
        <tr>
            <td style="text-align:left;">
            	City
            </td>
            <td>
            	<input type="text"/>
            </td>
        </tr>
        <tr>
            <td style="text-align:left;">
            	State/province
            </td>
            <td>
            	<input type="text"/>
            </td>
        </tr>
        <tr>
            <td style="text-align:left;">
            	Country
            </td>
            <td>
            	<input type="text"/>
            </td>
        </tr>
        <tr>
            <td style="text-align:left;">
            	Telephone 1
            </td>
            <td>
            	<input type="text"/>
            </td>
        </tr>
        <tr>
            <td style="text-align:left;">
            	Telephone 2
            </td>
            <td>
            	<input type="text"/>
            </td>
        </tr>
        <tr>
            <td style="text-align:left;">
            	Email
            </td>
            <td>
            	<input type="text"/>
            </td>
        </tr>
    </table>
</form>